<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <router-link to="/home">Home</router-link>
    <router-link to="/about">About</router-link>
    <router-view></router-view>
</div>
<template id="home">
    <div>{{msg}}</div>
</template>
<template id="about">
    <div>{{msg}}</div>
</template>

<script src="../static/js/vue.js"></script>
<script src="../static/js/vue-router.js"></script>
<script>
    //1. 定义（路由）组件。
    //方式一 通过 Vue.extend() 创建的组件构造器
    //    var Home = Vue.extend({
    //        template: '#home',
    //        data: function () {
    //            return {
    //                msg: 'this is Home!'
    //            }
    //        }
    //    });
    //    var About = Vue.extend({
    //        template: '#about',
    //        data: function () {
    //            return {
    //                msg: 'this is About!'
    //            }
    //        }
    //    });
    //方式二，一个组件配置对象
    const Home = {
        template: '#home',
        data(){//es6
            return {
                msg: 'this is Home'
            }
        }
    };
    const About = {
        template: '#about',
        data: function () {
            return {
                msg: 'this is About'
            }
        }
    };
    //方式三，可以从其他文件 import 进来
    //    import Home from '....';


    const routes = [
        {path: '/home', component: Home},
        {path: '/about', component: About}
    ];
    const router = new VueRouter({
        routes // （缩写）相当于 routes: routes
    });
    //刚进入应用就渲染某个路由组件
    router.push('/home');
    const app = new Vue({
        el: '#app',
        router
    });
</script>


</body>
</html>